* {
  font-family: Outfit, sans-serif;
}

.blog-content .wp-block-heading {
  display: inline-block;
}

.blog-content a {
  text-decoration: none;
  transition: color 0.3s;
  @apply text-yellow-900;
}

.blog-content a:hover {
  text-decoration: underline;
  @apply text-yellow-900;
}

.blog-content .wp-block-pullquote {
  padding: 0;
  margin: 0;
  border: 0;
}

.blog-content .wp-block-pullquote blockquote {
  text-align: start;
  margin: 2.4rem 0;
}

.blog-content .wp-block-pullquote blockquote p {
  margin: 0;
}

.blog-content ol {
  list-style-type: decimal;
  padding-left: 2rem;
}

.blog-content blockquote {
  font-style: italic;
  background: #f9f9f9;
  border-left: 4px solid #eeb63d;
  padding: 1rem;
  text-align: start;
  margin: 2.4rem 0;
}

.blog-content blockquote p {
  margin: 5px 0px;
}

.blog-font-size-convention h1 {
  font-size: 35px !important;
}

.blog-font-size-convention h2 {
  font-size: 25px !important;
  line-height: 2 !important;
}

.blog-font-size-convention h3 {
  font-size: 20px !important;
  line-height: 1.5 !important;
}

.blog-font-size-convention h4 {
  font-size: 19px !important;
}

.blog-font-size-convention h5 {
  font-size: 18px !important;
}

.blog-font-size-convention p {
  font-size: 17px;
  line-height: 2 !important;
}

.blog-font-size-convention li {
  font-size: 17px;
  line-height: 29px;
}

.blog-font-size-convention ul {
  font-size: 17px;
  line-height: 29px;
}

.blog-font-size-convention blockquote {
  font-size: 19px !important;
  line-height: 2 !important;
}

.blog-content img {
  margin: 10px 0px !important;
}
