body {
  margin: 0;
  padding: 0;
  font-family: Outfit;
}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  margin: 0;
  margin-inline: unset !important;
  padding: 0;
  list-style: none;
}

input {
  background-color: transparent;
  width: 100%;
}

input:focus {
  outline: none;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

.intro-carousal-container .alice-carousel__dots {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: auto;
  bottom: 15px;
  left: 0px;
  right: 0px;
  margin: auto;
}

@media (max-width: 992px) {
  .intro-carousal-container .alice-carousel__dots {
    bottom: 10px;
  }
}

@media (max-width: 576px) {
  .intro-carousal-container .alice-carousel__dots {
    bottom: 2px;
  }
}

.tab-panel--selected {
  animation-name: tabPanel;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

@keyframes tabPanel {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.alice-carousel__dots-item {
  cursor: pointer;
}

/* Ripple effect for button */
span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.5);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
